[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hfr"]
	path = hfr
	url = https://github.com/jpfitzinger/hfr
	shallow = true
	registered = true
[submodule "tidyfit"]
	path = tidyfit
	url = https://github.com/jpfitzinger/tidyfit
	shallow = true
	registered = true
